<div class="card">
    <div class="flex justify-center items-center" >
        <p-select
            [options]="generators"
            [(ngModel)]="selectedGeneratorId"
            optionLabel="label"
            optionValue="value"
            placeholder="Select generator"
            class="w-full md:w-56 me-2"
            [loading]="isGeneratorsLoading"
        />

        <p-button
            label="Generate Bills"
            icon="pi pi-file-plus"
            severity="primary"
            (click)="generateBills()"
            [loading]="isGeneratingBills"
        />
    </div>
</div>

<app-bills-preview-component [billsPreview]="billsPreview"></app-bills-preview-component>
