<h1 class="text-3xl font-bold mb-4">Bills</h1>

<div class="card">
    <p-tabs [(value)]="activeTab" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="0"><span class="text-2xl font-bold">Bills List</span></p-tab>
            <p-tab value="1"><span class="text-2xl font-bold">Single Bill Generation</span></p-tab>
            <p-tab value="2"><span class="text-2xl font-bold">Bulk Bill Generation</span></p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-bills-list-component #billsList></app-bills-list-component>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-single-bill-generation-component></app-single-bill-generation-component>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-bulk-bill-generation-component></app-bulk-bill-generation-component>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
