<h1 class="text-3xl font-bold mb-4">Generator Owners</h1>

<div class="card">

    <div class="mb-4">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
    </div>
    <p-table
        #dt
        [value]="generatorOwners"
        dataKey="id"
        [globalFilterFields]="['id', 'username', 'firstName', 'lastName', 'businessName', 'phoneNumber']"
        responsiveLayout="scroll"
        [loading]="isGeneratorOwnersLoading"
        rowHover
        showGridlines
        paginator
        stripedRows
        [first]="first"
        [rows]="rows"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectGeneratorOwners"
        (onPage)="pageChange($event)"
    >
        <ng-template #caption>
            <div class="text-end pb-4">
<!--                <p-button icon="pi pi-plus" class="me-2" label="New" severity="info" (click)="openNew()" />-->
                <p-button icon="pi pi-external-link" label="Export" (click)="exportToCsv()" />
            </div>

            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text"
                           (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th style="width: 5rem"></th>

                <th class="no-wrap-text" pSortableColumn="id">
                    <div class="flex justify-between items-center gap-2">
                        #ID
                        <p-sortIcon field="id" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="username">
                    <div class="flex justify-between items-center gap-2">
                        Username
                        <p-sortIcon field="username" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="firstName">
                    <div class="flex justify-between items-center gap-2">
                        First Name
                        <p-sortIcon field="firstName" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="lastName">
                    <div class="flex justify-between items-center gap-2">
                        Last Name
                        <p-sortIcon field="lastName" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="businessName">
                    <div class="flex justify-between items-center gap-2">
                        Business Name
                        <p-sortIcon field="businessName" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="phoneNumber">
                    <div class="flex justify-between items-center gap-2">
                        Phone Number
                        <p-sortIcon field="phoneNumber" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="gracePeriodDays">
                    <div class="flex justify-between items-center gap-2">
                        Grace Period Days
                        <p-sortIcon field="gracePeriodDays" />
                    </div>
                </th>

                <th class="no-wrap-text" pSortableColumn="smsDisplayName">
                    <div class="flex justify-between items-center gap-2">
                        Sms Display Name
                        <p-sortIcon field="smsDisplayName" />
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-generatorOwner>
            <tr>
                <td>
                    <p-tableCheckbox [value]="generatorOwner" />
                </td>
                <td>
                    <div class="flex">
                        <p-button icon="pi pi-pencil" styleClass="p-button-sm me-1" (click)="editGeneratorOwner(generatorOwner)" severity="info" rounded />
                        <p-button icon="pi pi-check-circle" styleClass="p-button-sm me-1" (click)="reactivateGeneratorOwner(generatorOwner)" severity="primary" rounded />
                        <p-button icon="pi pi-minus-circle" styleClass="p-button-sm" (click)="deactivateGeneratorOwner(generatorOwner)" severity="danger" rounded />
                    </div>
                </td>
                <td>
                    {{ generatorOwner.id }}
                </td>
                <td>
                    {{ generatorOwner.username }}
                </td>
                <td>
                    {{ generatorOwner.firstName }}
                </td>
                <td>
                    {{ generatorOwner.lastName }}
                </td>
                <td>
                    {{ generatorOwner.businessName }}
                </td>
                <td>
                    {{ generatorOwner.phoneNumber }}
                </td>
                <td>
                    {{ generatorOwner.gracePeriodDays }}
                </td>
                <td>
                    {{ generatorOwner.smsDisplayName }}
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="10">No generators found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="10">Loading generators data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>

    <!-- TODO: Add add/edit modal once ready -->

</div>
