<div class="card">
    <div class="flex items-center">
        <label class="block font-semibold me-2" for="generators">
            Generator :
        </label>

        <p-select
            id="generators"
            [options]="generators"
            [(ngModel)]="selectedGeneratorId"
            optionLabel="label"
            optionValue="value"
            placeholder="Select generator"
            class="w-full md:w-56 me-2"
            [loading]="isGeneratorsLoading"
        />
    </div>


    <p-tabs [(value)]="activeTab">
        <p-tablist>
            <p-tab value="0"><span class="text-2xl font-bold">Metered</span></p-tab>
            <p-tab value="1"><span class="text-2xl font-bold">Fixed</span></p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-metered-bill-generation
                    [generatorId]="selectedGeneratorId"
                    (generatedBills)="generateBills($event)"
                    [acceptBills$]="acceptBills$">
                </app-metered-bill-generation>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-fixed-bill-generation [generatorId]="selectedGeneratorId" (generatedBills)="generateBills($event)"></app-fixed-bill-generation>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

<app-bills-preview-component
    [billsPreview]="billsPreview"
    (billAcceptedSuccess)="billAcceptedSuccess()"
></app-bills-preview-component>
